extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="POST" action="/")
    button(type="submit") Create Your message


  ul
    for document in messages 
      li #{document.message}, by: #{document.user_id}, #{document.date} 
