extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="POST" action="/")
    button(type="submit") Create Your message


  
  for document in messages 
    div(style="margin: 20px 0px; border:solid 2px black; padding: 0 10px") 
      h2 #{document.user_id} Posted:
      p #{document.message} 
      p #{document.date} 
